@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

* {
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #f6982d;
  color: #000;
}

body {
  font-family: Helvetica;
  text-align: center;
  background-color: #222;
  color: #fff;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.light-mode {
  background-color: #f0f0f0;
  color: #000;
}

.welcome {
  background-image: url("./assets/img/cubos.jpg");
  height: 30vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.welcome h1 {
  font-size: 2rem;
  background-color: #000000c4;
  color: #fff;
  font-weight: bolder;
  padding: 25px;
  max-width: 200px;
  max-height: 150px;
  margin: 0 auto;
  border: solid 1px #f6982d;
  box-shadow: 1px 1px 5px 1px #ffffff9c;
  border-radius: 25px;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #222;
  text-align: center;
}

.content h1 {
  color: #fff !important;
}

.btn {
  background-color: #f6982d;
  padding: 10px;
  color: #222;
  font-weight: bold;
  border: solid 1px #000;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  transition: 0.5s;
  transform: 0.5s;
}

.btn:hover {
  background-color: #000;
  border: solid 1px #f6982d;
  color: #f6982d;
}

/* Nav */

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f6982d;
  padding: 15px;
  list-style: none;
  padding-bottom: 10px;
}

.navbar li {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
}

.navbar span {
  font-size: 0.5rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.submenu {
  list-style: none;
  padding: 5px;
}

.submenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6982d;
  border-bottom: solid 1px transparent;
  padding: 3px;
  transition: 0.5s;
}

.submenu svg {
  margin-right: 5px;
  color: #f6982d;
}

.submenu a:hover {
  border-bottom: solid 1px #f6982d;
}

.submenu li {
  padding: 5px;
}

/* My Projects */

.my-projects h2 {
  margin: 15px;
  font-size: 2rem;
}

.projetcs-online {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.card {
  max-width: 350px;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px #f6982d;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #00000096;
  padding: 15px;
  background-color: transparent;
}

.card img {
  border: solid 1px #000;
  border-radius: 5px;
}

.card h3 {
  color: #f6982d;
  margin: 15px;
}

.card p {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* Skills */

.skills .slider-for .slick-slide.slick-current .main-svg,
.skills .slider-for .slick-slide.slick-current .main-legend {
  display: none;
}

.skills {
  margin-top: 50px;
  text-align: center;
  padding: 2em;
  background-color: #333;
  color: #222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slick-dots {
  display: none !important;
}

.legend {
  color: #fff;
  margin-bottom: 25px;
  font-weight: bold;
}

.skills h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #fff;
}

.next {
  color: #000;
}

.type {
  color: #3178c6;
}

.angular {
  color: #dd0031;
}

.tailwind {
  color: #38b2ac;
}

.react {
  color: #61dafb;
}

.javascript {
  color: #f7df1e;
}

.node {
  color: #339933;
}

.bootstrap {
  color: #7952b3;
}

.html {
  color: #e34f26;
}

.css {
  color: #1572b6;
}

.mysql {
  color: #4479a1;
}

.mongodb {
  color: #47a248;
}

/* Memory Game */

.memory-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card-game {
  width: 100px;
  height: 150px;
  color: #222;
  font-weight: bold;
  background: linear-gradient(135deg, #f6982d 0%, #f8cd40 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.card.flipped {
  background-color: #fff;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: linear-gradient(135deg, #f6982d 0%, #f8cd40 100%);
  border-radius: 5px;
  transform: 0.5s;
  transition: 0.5s;
}

button:hover {
  background: linear-gradient(135deg, #f8cd40 0%, #f6982d 100%);
}

/* About */

.container-animals {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-animals:hover .animals {
  opacity: 0.5;
}

.container-animals .animals:hover {
  opacity: 1;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #222;
  overflow: hidden;
}

.container-animation {
  position: absolute;
  top: 25%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  background: transparent;
  width: calc(var(--i) * 2.5vmin);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(0, 255, 13);
  transform-style: preserve-3d;
  transform: rotateX(70deg) translateZ(50px);
  animation: animate 3s ease-in-out calc(var(--i) * 0.08s) infinite;
  box-shadow: 0 0 15px rgb(124, 124, 124), inset 0 0 15px rgb(124, 124, 124);
}

@keyframes animate {
  0%,
  100% {
    transform: rotateX(70deg) translateZ(50px) translateY(0);
    filter: hue-rotate(0);
  }
  50% {
    transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
    filter: hue-rotate(360deg);
  }
}

.space {
  margin-top: 50px;
}

.space-two {
  margin-top: 70px;
  margin-bottom: 70px;
}

.body-cursor {
  background-image: url("./assets/img/floresta.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-cursor {
  width: 100%;
  height: 100%;
  cursor: url(https://cdn.custom-cursor.com/db/cursor/32/colorful_cursor.png),
    default !important;
  position: relative;
}

.container-animals img {
  max-width: 250px;
  border: solid 1px #f6982d;
  border-radius: 15px;
  margin: 5px;
}

.animals {
  transition: all 0.5s;
}

.animals:hover {
  transform: translateY(-20px);
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image {
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.about-text {
  color: #c3c3c3;
  background: rgba(0, 0, 0, 0.884);
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
}

.about-text p {
  line-height: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.message {
  margin: 0 auto;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}

.message.animate {
  animation: digitando 6s steps(80), blink 0.5s infinite alternate;
}

@keyframes digitando {
  from {
    width: 0;
  }
}

@keyframes blink {
  40% {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

/* Footer */

.github {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 222px;
  border: solid 1px #fff;
  color: #000;
  transition: 0.5s;
}

.github:hover {
  background-color: #000;
  border: solid 1px #000;
  color: #fff;
}

.linkedin {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #fff;
  color: #0e76a8;
  transition: 0.5s;
}

.linkedin:hover {
  background-color: #0e76a8;
  border: solid 1px #0e76a8;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0;
  padding: 5%;
  border-top: #f6982d solid 1px;
}

footer svg {
  margin: 15px;
}

footer p {
  margin: 5px;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 700px) {
  /* Skills */

  .hidden {
    display: none;
  }

  .skills h2 {
    font-size: 1.5rem;
  }

  .legend {
    font-size: 1em;
  }

  /* About */

  .body {
    height: 20vh;
  }

  .container-animation {
    top: 20%;
    height: 55%;
  }

  /* My Projects */

  .projetcs-online {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .card {
    width: 70%;
    margin: 30px auto;
  }

  /* Memory Game */

  .memory-game {
    width: 90%;
    margin: 0 auto;
  }

  .card-game {
    width: 45%;
    margin: 5px 0;
  }
}

@media (max-width: 450px) {
  /* Footer */

  footer {
    flex-direction: column;
  }

  .linkedin,
  .github {
    font-size: 2rem;
  }
}
