* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  text-align: center;
  background-color: #222;
  color: #fff;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.light-mode {
  background-color: #f0f0f0;
  color: #000;
}

.welcome {
  height: 300px;
  padding-top: 150px;
  margin-bottom: 50px;
  border-bottom: solid 1px #f6982d;
  background-image: url("./assets/img/cubo.jfif");
  background: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome h1 {
  font-size: 2rem;
  background-color: #000000c4;
  color: #fff;
  font-weight: bolder;
  padding: 25px;
  max-width: 200px;
  max-height: 150px;
  margin: 0 auto;
  border: solid 1px #f6982d;
  box-shadow: 1px 1px 5px 1px #ffffff9c;
  border-radius: 25px;
}

.btn {
  background-color: #f6982d;
  padding: 10px;
  color: #222;
  font-weight: bold;
  border: solid 1px #000;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  transition: 0.5s;
  transform: 0.5s;
}

.btn:hover {
  background-color: #000;
  border: solid 1px #f6982d;
  color: #f6982d;
}

/* Nav */

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #f6982d;
  padding: 15px;
  list-style: none;
  padding-bottom: 10px;
}

.navbar li {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
}

.navbar span {
  font-size: 0.5rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* My Projects */

.my-projects h2 {
  margin: 15px;
  font-size: 2rem;
}

.projetcs-online {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.card {
  max-width: 350px;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px #f6982d;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #00000096;
  padding: 15px;
  background-color: transparent;
}

.card img {
  border: solid 1px #000;
  border-radius: 5px;
}

.card h3 {
  color: #f6982d;
  margin: 15px;
}

.card p {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* Skills */

.skills {
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.legend {
  font-size: 1.2em;
  margin-top: 50px;
  background-color: #000 !important;
  color: #fff !important;
}

.carousel-status {
  display: none;
}

.react {
  color: #61dafb;
}

.javascript {
  color: #f7df1e;
}

.node {
  color: #339933;
}

.bootstrap {
  color: #7952b3;
}

.html {
  color: #e34f26;
}

.css {
  color: #1572b6;
}

.mysql {
  color: #4479a1;
}

.mongodb {
  color: #47a248;
}

/* Videos */

.videos {
  max-width: 1000px;
  margin: 0 auto;
}

.videos h2 {
  width: 90%;
  margin: 0 auto 50px;
}

.video iframe {
  margin-bottom: 50px;
  border: solid 1px #f6982d;
  border-radius: 15px;
}

/* Footer */

.github {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 222px;
  border: solid 1px #fff;
  color: #000;
  transition: 0.5s;
}

.github:hover {
  background-color: #000;
  border: solid 1px #000;
  color: #fff;
}

.linkedin {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #fff;
  color: #0e76a8;
  transition: 0.5s;
}

.linkedin:hover {
  background-color: #0e76a8;
  border: solid 1px #0e76a8;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0;
  padding: 5%;
  border-top: #f6982d solid 1px;
}

footer svg {
  margin: 15px;
}

footer p {
  margin: 5px;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 700px) {
  /* Videos */
  .videos {
    width: 100%;
  }

  .videos iframe {
    width: 90%;
    max-height: 1600px;
  }

  /* My Projects */
  .projetcs-online {
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .card {
    width: 70%;
    margin: 30px auto;
  }
}

@media (max-width: 450px) {
  /* Footer */

  footer {
    flex-direction: column;
  }

  .linkedin,
  .github {
    font-size: 2rem;
  }
}
